Language: Cpp
Standard: Cpp11
IndentWidth: 2
TabWidth: 2
BreakBeforeBraces: Allman
ColumnLimit: 100
PointerAlignment: Middle
AllowShortFunctionsOnASingleLine: false
BinPackParameters: false
AlignTrailingComments: true
AlignEscapedNewlinesLeft: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortCaseLabelsOnASingleLine: true
ExperimentalAutoDetectBinPacking: true
AlwaysBreakAfterReturnType: None
